/*mixin flex*/

@mixin flexible($direction, $corte, $just, $align){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $corte;
    justify-content: $just;
    align-items: $align;
}

/*Mixins fuentes*/

@mixin titulos($weight, $size, $spacing){
    font-family: "Bebas Neue", sans-serif;
    font-weight: $weight;
    font-size: $size;
    letter-spacing: $spacing;
}

@mixin parrafos($weight, $size, $line){
    font-family: "Lora", serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $line;
}

@mixin subtitulos($weight, $size){
    font-family: "Oswald", sans-serif;
    font-weight: $weight;
    font-size: $size;
}

/*Mixin Responsive Design*/

@mixin media($medida : 480px){
    @media screen and (max-width: $medida) {
        @content;
    }
}