@use "./abstracts/variables" as *;
@use "./layout/header" as*;
@use "./abstracts/mixins" as*;
@use "./layout/hero" as*;
@use "./layout/promos" as*;
@use "./layout/welcome" as*;
@use "./layout/footer" as*;

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

