@use "../abstracts/variables" as*;
@use "../abstracts/mixins.scss" as*;


header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: map-get($colores, "negro");
    max-height: 85px;
    color: map-get($colores, "blanco");
    @include subtitulos(450, 18px,);
    @include flexible (row, nowrap, space-between, center);
    nav ul{
        list-style-type: none;
        @include flexible (row, nowrap, space-around, center);
        gap: 3rem;
        margin-right: 75px;
        margin-top: 10px;
    }
    nav ul li a{
        text-decoration: none;
        color: map-get($colores, "blanco");
        transition: all 0.4s ease;
    }
}

.fade-in-fwd{-webkit-animation:fade-in-fwd 1s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-fwd 1s cubic-bezier(.39,.575,.565,1.000) both}

nav li .activo{
    color: map-get($colores, "naranja_oscuro");
}

header a:hover{
    color: map-get($colores, "naranja_oscuro");
}

header img{
    width: 250px;
    margin-left: 20px;
    margin-top: 22px;
}

.header__container{
    @include flexible (row, nowrap, center, center);
    h2{
        font-size: 15px;
        margin-top: 5px;
    }
}

.mostrar-menu,
.cerrar-menu{
    @include flexible (row, nowrap, center, center);
    font-size: 30px;
    cursor: pointer;
    /*display: none;*/
    transition: all 0.4s ease;
}
.mostrar-menu{
    margin-right: 60px;
}
#menu-toggle{
    display: none;
}

@include media(){
    .mostrar-menu,
    .cerrar-menu{
        display: block;
    }
    .nav-menu{
        width: 100%;
        position: fixed;
        height: 100vh;
        background: map-get($colores, "negro");
        right: -100%;
        top: 0;
        z-index: 100;
        padding: 100px 0px;
        transition: 0.3s ;
        ul{
            @include flexible(column, nowrap, center, space-around);
        }
    }
    .subtitulo{
        display: none;
    }
    #menu-toggle:checked ~ .nav-menu{
        right: 0;
    }
}


@-webkit-keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
