@use "../abstracts/variables" as*;
@use "../abstracts/mixins.scss" as*;
@use "sass:map";

main .hero{
    background-image: url(../assets/img/Bar-Maipu-Frente.webp);
    background-size: cover;
}

.hero__box{
    color: map.get($colores, "crema");
    min-height: 120vh;
    backdrop-filter: blur(4.4px);
    @include flexible(column, nowrap, center, center);
}


.hero__box__text1{
        @include titulos(600, 26px, 0.04em)
}
.hero__box__text2{
    @include titulos(400, 145px, 0.04em)
}
.hero__box__text3{
    @include titulos(600, 40px, 0.04em)
}

@include media(){
    main .hero{
        background-image: url(../assets/img/Fondo-Hero-Mobile.jpg);
        background-size: cover;
        width: 100%;
    }
    .hero__box{
        backdrop-filter: blur(4.4px);
        text-align: center;
        min-height: 80vh;
        overflow: hidden;
        img{
            width: 100px;
            display: block;
        }
    }
    .hero__box__text1{
        @include titulos(600, 25px, 0.04em)
    }
    .hero__box__text2{
        @include titulos(400, 74px, 0.04em)
    }
    .hero__box__text3{
        @include titulos(600, 25px, 0.04em)
    }

}