@use "../abstracts/variables" as*;
@use "../abstracts/mixins.scss" as*;
@use "sass:map";

.cartel_promos{
    background-color: map.get($colores, "negro");
    min-height: 100vh;
    padding-top: 100px;
    .contenedor_promos{
        @include flexible(row, wrap, space-around, center);
        gap: 30px;
        margin-top: 65px;    
    }
}
.promo_1{
    width: 350px;
    height: 450px;
    border-radius: 15px;
    background-image: url(../assets/img/Promo-HappyHour.jpg);
    background-size: cover;
    @include flexible(column, nowrap, center, center);
    color: map.get($colores, "blanco");
    text-align: center;
    @include subtitulos(600, 22px);
    transition: all 0.5s ease-in-out;
}

.promo_1:hover{
    transform: scale(1.03, 1.03);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.promo_2{
    @extend .promo_1;
    background-image: url(../assets/img/Promo-Pizza.jpg);
}

.promo_3{
    @extend .promo_1;
    background-image: url(../assets/img/Promo-Picada.jpg);
}

.texto_promo{
    background-color: rgba(9, 10, 12, 0.7);
    height: 400px;
    padding: 20px;
    @include flexible(column, nowrap, center, center);
    h2{
        @include titulos(300, 37px, 0.04em);
    }
    p{
        @include parrafos(400, 20px, 1.7);
    }
}

.titulo_promo{
    text-align: center;
    color: map.get($colores, "crema");
    @include titulos(600, 90px, 0.04em);
}


@include media(){
    .cartel_promos{
        width: 100%;
        min-height: 100vh;
        padding-top: 50px;
        padding-bottom: 50px;
        .contenedor_promos{
            @include flexible(column, nowrap, center, space-around);
            gap: 15px;
            margin-top: 25px;    
        }
    }
    .promo_1{
        width: 250px;
        height: 330px;
        border-radius: 8px;
        background-image: url(../assets/img/Promo-HappyHour-Mobile.jpg);
        background-size: cover;
        overflow: hidden;
    }
    .texto_promo{
        background-color: rgba(9, 10, 12, 0.7);
        height: 100%;
        h2{
            @include titulos(300, 20px, 0.04em);
        }
        p{
            @include parrafos(400, 15px, 1.7);
        }
    }
    .promo_2{
        @extend .promo_1;
        background-image: url(../assets/img/Promo-Pizza-Mobile.jpg);
    }
    .promo_3{
        @extend .promo_1;
        background-image: url(../assets/img/Promo-Picada-Mobile.jpg);
    }
}