@use "../abstracts/variables" as*;
@use "../abstracts/mixins.scss" as*;
@use "sass:map";

.menu_carta{
    background-color: map.get($colores, "negro");
    min-height: 120vh;
    padding: 40px;
}
.menu_title{
    h1{
        color: map.get($colores, "crema");
        @include titulos(600, 60px, 0.07em);
        text-align: center;
        margin-bottom: 50px;
    }
}

.item_name::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.menu_container{
    @include flexible (column, nowrap, center, space-around);
    gap: 120px
}
.menu_article{
    @include flexible(row, wrap, center, center);
    gap: 15px;
    margin-bottom: 70px;
    .item{
        width: 350px;
        height: 450px;
        background-color: map.get($colores, "crema");
        border-radius: 12px;
    }
    .item_name{
        position: relative;
        overflow: hidden;
        .item_name_img{
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
        .item_name_text{
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            @include flexible(row, nowrap, center, center);
            border-radius: 12px;
            h2{
                @include titulos(600, 55px, 0.03em);
                color: map.get($colores, "blanco");
            }
        }
    }
    .item_description{
        border: 2px solid map.get($colores, naranja_claro);
        border-radius: 12px;
    }
}

table{
    @include flexible(column, nowrap, center, center);
    text-align: center;
    tr{
        border: 1px solid transparent;
    }
    tr:not(:last-child){
        border-bottom: 0.5px solid map.get($colores, "naranja_claro");
    }
    td{
        padding-inline: 36px;
        padding-block: 1.5px;
    }
    .value{
        color: map.get($colores, "azul_oscuro");
        font-weight: bold;
        @include subtitulos(400, 1rem);
    }
    .type{
        @include subtitulos(400, 1rem);
    }
    .titulo_table{
        @include titulos(400, 23px, 0.03em);
        color: map.get($colores, "naranja_oscuro");
    }
}

.hamb table{
    .value{
        color: map.get($colores, "azul_oscuro");
        font-weight: bold;
        @include subtitulos(400, 1rem);
    }
    .type{
        @include subtitulos(400, 1rem);
    }
    .desc{
        @include subtitulos(400, 10px);
        text-align: justify;
    }
    td{
        padding-inline: 5px;
        padding-block: 0.3px;
    }
    .titulo_table{
        @include titulos(400, 23px, 0.03em);
    }
}

.empa table{
    .type{
        @include subtitulos(400, 1rem);
    }
    .value{
        @include subtitulos(400, 1rem);
    }
    td{
        padding-inline: 36px;
        padding-block: 0.7px;
    }
}
.pasta table{
    .type{
        @include subtitulos(400, 1rem);
    }
    .value{
        @include subtitulos(400, 1rem);
    }
    td{
        padding-inline: 36px;
        padding-block: 0.3px;
    }
}

.plato table{
    .type{
        @include subtitulos(400, 1rem);
    }
    .value{
        @include subtitulos(400, 1rem);
    }
    td{
        padding-inline: 36px;
        padding-block: 1px;
    }
}

.postre table{
    .type{
        @include subtitulos(400, 1rem);
    }
    .value{
        @include subtitulos(400, 1rem);
    }
    td{
        padding-inline: 36px;
        padding-block: 3px;
    }
}

@include media(){
    .menu_title{
        h1{
            @include titulos(600, 50px, 0.07em);
        }
    }
    .menu_container{
        @include flexible(column, nowrap, center, space-around);
        gap: 80px;
    }
    .menu_article{
        gap: 20px;
        .item{
            width: 100%;
            height: 450px;
            background-color: map.get($colores, "crema");
            border-radius: 12px;
        }
    }
    table{
        .value{
            @include subtitulos(400, 1rem);
        }
        .type{
            @include subtitulos(400, 1rem);
        }
    }
    .carousel{
        display: none;
    }
    .empa table{
        .value{
            @include subtitulos(400, 1rem);
        }
        .type{
            @include subtitulos(400, 1rem);
        }
    }
    .hamb table{
        .desc{
            display: none;
        }
        .description{
            display: none;
        }
        td{
            padding-inline:40px;
            padding-block: 1px;
        }
        .value{
            @include subtitulos(400, 1rem);
        }
        .type{
            @include subtitulos(400, 1rem);
        }
        .titulo_table{
            @include titulos(400, 23px, 0.03em);
        }
    }
    .pasta table{
        .type{
            @include subtitulos(400, 1rem);
        }
        .value{
            @include subtitulos(400, 1rem);
        }
        td{
            padding-inline: 36px;
            padding-block: 0.1px;
        }
    }
    .plato table{
        .type{
            @include subtitulos(400, 1rem);
        }
        .value{
            @include subtitulos(400, 1rem);
        }
        td{
            padding-inline: 36px;
            padding-block: 0.7px;
        }
    }
    .postre table{
        .type{
            @include subtitulos(400, 1rem)
        }
        .value{
            @include subtitulos(400, 1rem);
        }
        td{
            padding-inline: 36px;
            padding-block: 2px;
        }
    }
}
@include media(768px, 480px){
    .hamb table{
        .desc{
            display: none;
        }
        .description{
            display: none;
        }
    }
    .menu_title{
        h1{
            @include titulos(600, 55px, 0.07em);
        }
    }
}
@include media(1024px, 768px){
    .hamb table{
        .desc{
            display: none;
        }
        .description{
            display: none;
        }
    }
    .menu_title{
        h1{
            @include titulos(600, 55px, 0.07em);
        }
    }
    .carousel{
        display: none;
    }
}


/*Bootsrap*/
.carousel-control-prev,
.carousel-control-next {
    width: 70px;
    opacity: 1;
    display: flex;
    align-items: center; /* centra vertical */
}
.carousel-control-prev {
    justify-content: flex-start;
    padding-left: 15px;
}

/* derecha */
.carousel-control-next {
    justify-content: flex-end;
    padding-right: 15px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 48px;
    height: 48px;
    background-color: rgba(145, 99, 0, 0.6);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0) invert(1);
}
.carousel-indicators .active {
    filter: brightness(0) saturate(100%) invert(56%) sepia(76%)
    saturate(812%) hue-rotate(344deg) brightness(93%) contrast(92%) !important;
}

.carousel-indicators{
    background: rgba(236, 236, 236, 0.4);
}

.carousel-indicators [data-bs-target] {
    filter: brightness(0) saturate(100%) invert(4%) sepia(79%)
    saturate(2183%) hue-rotate(232deg) brightness(92%) contrast(117%);
}
